<?xml version="1.0"?>
<config>
  <modules>
    <Cashfree_Cfcheckout>
      <version>0.1.0</version>
    </Cashfree_Cfcheckout>
  </modules>
  <global>
    <models>
      <cfcheckout>
        <class>Cashfree_Cfcheckout_Model</class>
      </cfcheckout>
    </models>
    <helpers>
      <cfcheckout>
        <class>Cashfree_Cfcheckout_Helper</class>
      </cfcheckout>
    </helpers>
    <blocks>
      <cfcheckout>
        <class>Cashfree_Cfcheckout_Block</class>
      </cfcheckout>
    </blocks>
  </global>
  <default>
    <payment>
      <cfcheckout>
        <model>cfcheckout/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Cashfree</title>
        <payment_action>sale</payment_action>
        <sort_order>1</sort_order>
      </cfcheckout>
    </payment>
  </default>
  <frontend>
    <routers>
      <cfcheckout>
        <use>standard</use>
        <args>
          <module>Cashfree_Cfcheckout</module>
          <frontName>cfcheckout</frontName>
        </args>
      </cfcheckout>
    </routers>
  </frontend>
</config>
