<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cashfree>
                <model>Cashfree\Cfcheckout\Model\PaymentMethod</model>
                <title>Cashfree</title>
                <active>0</active>
                <prod_url>https://api.cashfree.com/pg/orders</prod_url>
                <test_url>https://sandbox.cashfree.com/pg/orders</test_url>
                <payment_action>authorize</payment_action>
                <app_id backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <return_url>cashfree/standard/response</return_url>
                <notify_url>cashfree/standard/notify</notify_url>
                <order_status>processing</order_status>
                <in_context>1</in_context>
            </cashfree>
        </payment>
    </default>
</config>
