<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cfcheckout" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label><![CDATA[Cashfree&nbsp;&nbsp;<i>Payments Platform for Marketplaces and Fintechs</i>]]></label>
                <comment>
                    <![CDATA[<a href="https://merchant.cashfree.com/merchant/login" target="_blank">Get started with a Cashfree account</a>]]>
                </comment>
                <field id="active" translate="label" type="select" sortOrder="61"           showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Cashfree</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
               <field id="environment" translate="label" type="select" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Environment</label>
                    <source_model>Cashfree\Cfcheckout\Model\Environment</source_model>
                    <config_path>payment/cfcheckout/environment</config_path>
                </field>
                <field id="app_id" translate="label" type="obscure" sortOrder="64" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>App Id</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="secret_key" translate="label" type="obscure" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Secret Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="enable_debug" translate="label" type="select" sortOrder="66" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Log Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/cfcheckout/enable_debug</config_path>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="67" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <config_path>payment/cfcheckout/sort_order</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
